.about-inner {
  gap: 3.2rem;
  padding: 16rem 0 10rem;
  @include grid(false, 1fr 1fr);
}

.about-left {
  @include flex(column);
  gap: 2.4rem;
}

.about-btn {
  max-width: 14.4rem;
  cursor: pointer;
  margin-top: 1.6rem;
}

.about-left {
  h5 {
    margin-top: 0.8rem;
    font-size: 1.6rem;
    color: $base-black;
    font-weight: normal;
    line-height: 2.9rem;
  }
  h6 {
    font-size: 1.6rem;
    color: $base-black;
    font-weight: normal;
    line-height: 2.9rem;
  }
}

.about-right {
  @include grid(false, 1fr);
  justify-content: flex-end;
}

.about-img {
  justify-self: flex-end;
  @include imgStyle(40rem, 49.5rem, cover);
  position: relative;
  z-index: 2;
}

.about-dots {
  z-index: -1;
  position: absolute;
  @include imgStyle(30rem, 27.5rem, contain);
}

.about-dots-blue {
  top: -7.2rem;
  right: -7.2rem;
}
.about-dots-orange {
  bottom: -7.2rem;
  left: -7.2rem;
}
