.about-inner {
  gap: 3.2rem;
  padding: 16rem 0 10rem;
  @include grid(false, 1fr 1fr);
}

.about-left {
  @include flex(column);
  gap: 2.4rem;
}

.about-btn {
  max-width: 14.4rem;
  cursor: pointer;
  margin-top: 1.6rem;
}

.about-left {
  h5 {
    margin-top: 0.8rem;
    font-size: 1.8rem;
    color: $base-black;
    font-weight: normal;
    line-height: 2.9rem;
  }
  h6 {
    font-size: 1.8rem;
    color: $base-black;
    font-weight: normal;
    line-height: 2.9rem;
  }
}

.about-right {
  @include grid(false, 1fr);
  justify-content: flex-end;
}

.about-img {
  justify-self: flex-end;
  @include imgStyle(40rem, 49.5rem, cover);
  position: relative;
  z-index: 2;
}

.about-dots {
  z-index: -1;
  position: absolute;
  @include imgStyle(30rem, 27.5rem, contain);
}

.about-dots-blue {
  top: -4.2rem;
  right: -4.2rem;
}
.about-dots-orange {
  bottom: -4.2rem;
  left: -4.2rem;
}

// Media

@media screen and (max-width: 1400px) {
  .about-right {
    justify-content: center;
  }
  .about-img {
    justify-self: center;
  }
}

@media screen and (max-width: 1000px) {
  .about-inner {
    grid-template-columns: 1fr;
    padding: 4.5rem 0 16rem 0;
  }
}
@media screen and (max-width: 600px) {
  .about-img {
    @include imgStyle(22.6rem, 28rem, cover);
  }
  .about-dots {
    @include imgStyle(17.7rem, 16.3rem, contain);
  }
  .about-dots-orange {
    bottom: -4.2rem;
    left: -7.2rem;
  }
  .about-dots-blue {
    top: -4.2rem;
    right: -7.2rem;
  }
  .about-left {
    h5,
    h6 {
      font-size: 1.6rem;
    }
    .about-btn {
      max-width: unset;
    }
  }
  .about-inner {
    padding-bottom: 8rem;
  }
  .about-right {
    padding: 5rem 0;
    overflow: hidden;
  }
}

@media screen and (max-width: 600px) {
  .hero {
    min-height: unset;
    height: 30.8rem;

    img,
    picture {
      min-height: unset;
      height: 30.8rem;
    }
  }
}
