.partners-inner {
  @include flex(column);
  gap: 3.2rem;
  padding-bottom: 10rem;
}

.partners-content {
  position: relative;
}

.swiper-slide {
  @include flex;
  @include stretch;
  //   align-items: center;
  justify-content: center;
}

.partner-item {
  @include stretch;
  @include flex;
  align-items: center;
  justify-content: center;

  img {
    max-width: 22rem;
    max-height: 13rem;
  }
}

.partnerSwiper {
  position: relative;

  .swiper-wrapper {
    align-items: center;
    min-height: 30rem;
  }
}

.partner-btn {
  z-index: 3;
  position: absolute;
  width: 6rem;
  height: 6rem;
  padding: 1rem;
  top: 40%;
  img {
    width: 4rem;
    height: 4rem;
  }
}

.partner-next {
  cursor: pointer;
  right: -2rem;
}

.partner-prev {
  cursor: pointer;
  left: -2rem;
}

.swiper-pagination {
  bottom: -4rem !important;
  z-index: 3;
}

.swiper-pagination-bullet {
  width: 1.2rem;
  height: 1.2rem;
  &:not(:last-child) {
    margin-right: 2rem !important;
    margin-left: 0 !important;
  }
}
.swiper-pagination-bullet-active {
  background: $base-blue;
}

// Media
@media screen and (max-width: 1000px) {
  .swiper-pagination {
    display: none;
  }
  .swiper-wrapper {
    min-height: unset;
  }
}
@media screen and (max-width: 600px) {
  .partners-inner {
    padding-bottom: 4rem;
  }
}
