.products-inner {
  @include flex(column);
  gap: 3.2rem;
  padding-bottom: 10rem;
}

.products-content {
  @include flex(column);
  gap: 2.4rem;
}

.products-item {
  @include imgStyle($objFit: cover);
  position: relative;
  overflow: hidden;
  max-height: 21.4rem;
  img {
    transform: scale(1);
    @include transition-std;
  }
  h5 {
    line-height: 38px;
    position: absolute;
    top: 0;
    left: 0;
    @include stretch;
    @include flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    font-size: 3.2rem;
    color: $base-white;
    opacity: 1;
    @include transition-std;
  }

  &:hover {
    h5 {
      opacity: 0;
      @include transition-std;
    }
    img {
      transform: scale(1.1);
      @include transition-std;
    }
  }
}

// Media

@media screen and (max-width: 1000px) {
  .products-container {
    margin: 0;
    padding: 0;
    max-width: unset;
    width: 100%;
  }
  .products-title {
    padding: 0 1.6rem;
  }

  .products-item {
    min-height: 21.4rem;
    h5 {
      font-size: 1.8rem;
    }

    img {
      min-height: 21.4rem;
    }
  }
}

// Media
@media screen and (max-width: 600px) {
  .products-inner {
    padding-bottom: 8rem;
  }
}
