.footer {
  background: $base-black;
}

.footer-inner {
  padding: 4rem 0;

  p {
    font-size: 1.8rem;
    color: $base-white;
    text-align: center;
  }
}

// Media
@media screen and (max-width: 600px) {
  .footer-inner {
    p {
      font-size: 1.6rem;
    }
  }
}
