@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html {
  font-size: 62.5%;
  min-height: 100%;
  @include flex(column);
}

body {
  flex-grow: 1;
}

input,
button {
  background: none;
  outline: none;
  border: none;
}

ul {
  list-style-type: none;
}

a {
  color: #000;
  text-decoration: none;
}

.container {
  @include stretch;
  max-width: 148rem;
  padding: 0 4rem;
  margin: 0 auto;
}

.section-title {
  @include section-title;
}

.btn {
  @include btn;
}
