.nav-inner {
  padding: 2.4rem 0;
  @include flex;
  justify-content: space-between;
  gap: 2.4rem;
}

.nav-right,
.nav-left {
  @include grid(false, 1fr);
  align-items: center;
}

.nav-links {
  @include flex;
  justify-content: space-between;
  gap: 6.2rem;

  a,
  span {
    padding: 1rem 0;
    @include stretch;
    font-size: 1.8rem;
    font-weight: bold;
    color: $base-blue;
    cursor: pointer;
  }
}

.nav-logo {
  @include imgStyle(19.6rem, 4.3rem, contain);
}

.nav-dropdown-wrapper {
  position: relative;
}

.nav-dropdown {
  position: absolute;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  z-index: 4;
  box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.2),
    -0.1rem -0.1rem 0.3rem rgba(0, 0, 0, 0.2);
  @include transition-std;
  @include flex(column);
  background: $base-white;

  a {
    padding: 1.2rem;
    background: $base-white;
    @include transition-std;

    &:hover {
      background: $hover-white;
      @include transition-std;
    }
  }

  &.active {
    opacity: 1;
    max-height: 10rem;
    @include transition-std;
  }
}

// Burger

.nav-burger {
  cursor: pointer;
  position: relative;
  display: none;
  align-items: center;
  justify-content: center;
  width: 3.2rem;
  height: 3.2rem;

  &.active {
    .burger-line-2 {
      opacity: 0;
      @include transition-std;
    }
    .burger-line {
      top: 50%;
    }
    .burger-line-1 {
      transform: rotate(45deg);
    }
    .burger-line-3 {
      transform: rotate(-45deg);
    }
  }
}

.burger-line {
  opacity: 1;
  width: 100%;
  height: 0.3rem;
  border-radius: 2rem;
  background: $base-blue;
  transform-origin: center;
  @include transition-std;
}
.burger-line-1,
.burger-line-3 {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 0.3rem;
  background: $base-blue;
  border-radius: 2rem;
  @include transition-std;
  transform: rotate(0deg);
}

.burger-line-1 {
  top: 0.4rem;
}
.burger-line-3 {
  top: calc(100% - 0.5rem);
}

.burger-wrapper {
  @include flex;
  z-index: 1000;
  position: fixed;
  top: 0;
  right: -120%;
  width: 100vw;
  height: 100vh;
  @include transition-std;
  &.active {
    @include transition-std;
    right: 0;

    .burger-outer {
      width: 22%;
      @include transition-std;
    }
  }
}

.burger-inner {
  @include flex(column);
  align-items: center;
  justify-content: space-between;
  padding: 7rem 3rem;
  min-height: 100vh;
  width: 78%;
  background: $base-blue;
}

.burger-outer {
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  width: 0;
  min-height: 100vh;
  @include transition-std;
}

.burger-close {
  position: absolute;
  left: 50%;
  top: 1rem;
  transform: translateX(-50%);
}

.burger-logo-wrapper {
  @include flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.burger-logo {
  @include imgStyle(16.1rem, 4.2rem, contain);
}

.burger-top {
  @include flex(column);

  gap: 5.4rem;
}

.burger-links {
  @include flex(column);
  gap: 3.4rem;
  a {
    padding: 1rem 0;
    display: block;
    width: 100%;
    text-align: center;
    color: $base-white;
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 0.1em;
  }
}

.burger-dropdown {
  width: 100%;
  background: $dark-blue;
  overflow: hidden;
  position: absolute;
  max-height: 0;
  left: 0;
  bottom: 100%;
  @include transition-std;

  button {
    order: -1;
    padding: 1rem;
    color: $base-white;
    font-weight: bold;
    font-size: 2.5rem;

    &.active {
      order: 99999;
    }
  }

  &.active {
    max-height: 16.2rem;
    @include transition-std;
  }
}

.burger-language {
  background: $dark-blue;
  position: relative;
  @include transition-std;

  span {
    display: block;
    padding: 1rem;
    color: $base-white;
    font-weight: bold;
    font-size: 2.5rem;
  }
}

// Media

@media screen and (max-width: 1000px) {
  .nav-links {
    display: none;
  }
  .nav-burger {
    @include flex;
  }
}
