@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html {
  font-size: 62.5%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

input,
button {
  background: none;
  outline: none;
  border: none;
}

ul {
  list-style-type: none;
}

a {
  color: #000;
  text-decoration: none;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 148rem;
  padding: 0 4rem;
  margin: 0 auto;
}

.section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.6rem;
}

.section-title h4 {
  text-transform: uppercase;
  font-size: 4rem;
  color: #305ba9;
}

.section-title span {
  display: block;
  max-width: 8rem;
  width: 100%;
  border-top: 0.2rem solid #ff8007;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 1.6rem 3.2rem;
  background: #ff8007;
  text-transform: uppercase;
  font-size: 1.6rem;
  color: #ffffff;
}

.nav-inner {
  padding: 2.4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2.4rem;
}

.nav-right,
.nav-left {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 6.2rem;
}

.nav-links a,
.nav-links span {
  padding: 1rem 0;
  width: 100%;
  height: 100%;
  font-size: 2.4rem;
  font-weight: bold;
  color: #305ba9;
}

.nav-logo {
  max-width: 19.6rem;
  max-height: 4.3rem;
  width: 100%;
  height: 100%;
}

.nav-logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.hero {
  max-width: unset;
  max-height: unset;
  width: 100%;
  height: 100%;
}

.hero img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-inner {
  gap: 3.2rem;
  padding: 10rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.about-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.4rem;
}

.about-btn {
  max-width: 14.4rem;
  cursor: pointer;
  margin-top: 1.6rem;
}

.about-left h5 {
  margin-top: 0.8rem;
  font-size: 2.4rem;
  color: #333333;
  font-weight: normal;
  line-height: 2.9rem;
}

.about-left h6 {
  font-size: 1.8rem;
  color: #333333;
  font-weight: normal;
  line-height: 2.9rem;
}

.about-right {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.about-img {
  justify-self: flex-end;
  max-width: 44.4rem;
  max-height: 55rem;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}

.about-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-dots {
  z-index: -1;
  position: absolute;
  max-width: 30rem;
  max-height: 27.5rem;
  width: 100%;
  height: 100%;
}

.about-dots img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.about-dots-blue {
  top: -7.2rem;
  right: -7.2rem;
}

.about-dots-orange {
  bottom: -7.2rem;
  left: -7.2rem;
}

.products-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.2rem;
  padding-bottom: 10rem;
}

.products-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.4rem;
}

.products-item {
  max-width: unset;
  max-height: unset;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.products-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.products-item img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.products-item h5 {
  line-height: 38px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  font-size: 3.2rem;
  color: #ffffff;
  opacity: 1;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.products-item:hover h5 {
  opacity: 0;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.products-item:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.projects-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.2rem;
  padding-bottom: 10rem;
}

.projects-img {
  max-width: unset;
  max-height: unset;
  width: 100%;
  height: 100%;
}

.projects-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.partners-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.2rem;
  padding-bottom: 10rem;
}

.partners-content {
  position: relative;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.partner-item {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.partner-item img {
  max-width: 22rem;
  max-height: 13rem;
}

.partnerSwiper {
  position: relative;
}

.partnerSwiper .swiper-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partner-btn {
  z-index: 3;
  position: absolute;
  width: 6rem;
  height: 6rem;
  padding: 1rem;
  top: 25%;
}

.partner-btn img {
  width: 4rem;
  height: 4rem;
}

.partner-next {
  cursor: pointer;
  right: -2rem;
}

.partner-prev {
  cursor: pointer;
  left: -2rem;
}

.swiper-pagination {
  bottom: -4rem !important;
  z-index: 3;
}

.swiper-pagination-bullet {
  width: 1.6rem;
  height: 1.6rem;
}

.swiper-pagination-bullet:not(:last-child) {
  margin-right: 2rem !important;
}

.swiper-pagination-bullet-active {
  background: #305ba9;
}

.map-form {
  padding-bottom: 40rem;
  position: relative;
}

.form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  border-radius: 0.5rem;
  gap: 2.4rem;
  background: #ffffff;
  padding: 6rem;
  max-width: 96.4rem;
  max-height: 49.2rem;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  z-index: 3;
  bottom: 10rem;
  -webkit-box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.form-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.4rem;
}

.form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.8rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.form-item label {
  font-size: 1.8rem;
}

.form-item input,
.form-item textarea {
  resize: none;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #c4c4c4;
  width: 100%;
  padding: 1.3rem 2.4rem;
}

.form-item input::-webkit-input-placeholder,
.form-item textarea::-webkit-input-placeholder {
  color: #c4c4c4;
}

.form-item input:-ms-input-placeholder,
.form-item textarea:-ms-input-placeholder {
  color: #c4c4c4;
}

.form-item input::-ms-input-placeholder,
.form-item textarea::-ms-input-placeholder {
  color: #c4c4c4;
}

.form-item input::placeholder,
.form-item textarea::placeholder {
  color: #c4c4c4;
}

.form-item textarea {
  height: 14.1rem;
}

.form-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.8rem;
}

.form-right button {
  margin-top: 6.7rem;
  cursor: pointer;
}

.form-right #file {
  opacity: 0;
  z-index: 4;
  cursor: pointer;
}

.form-file {
  position: relative;
}

.file-placeholder {
  position: absolute;
  top: 3rem;
  left: 0;
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f2f2f2;
  padding: 1.4rem;
  z-index: 2;
  width: 100%;
  gap: 2rem;
}

.file-icon {
  width: 1.6rem;
  height: 2rem;
}

.file-icon img {
  width: 1.6rem;
  height: 2rem;
}

.footer {
  background: #333333;
}

.footer-inner {
  padding: 4rem 0;
}

.footer-inner p {
  font-size: 1.8rem;
  color: #ffffff;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */