.main-inner {
  padding: 10rem 0;
  @include flex(column);
  gap: 3.2rem;
}

.about-content {
  @include flex(column);
  gap: 2.4rem;
  p {
    font-size: 2.4rem;
    line-height: 150%;
    color: $base-black;
  }
}
