.main-inner {
  padding: 10rem 0;
  @include flex(column);
  gap: 3.2rem;
}

.about-content {
  @include flex(column);
  gap: 2.4rem;
  p {
    font-size: 2.4rem;
    line-height: 150%;
    color: $base-black;

    a {
      color: $base-blue;
      text-decoration: underline;
      font-weight: bold;
    }
  }
}

// Media
@media screen and (max-width: 600px) {
  .about-content {
    p {
      font-size: 1.8rem;
    }
  }
  .main-inner {
    padding: 8rem 0;
  }
}
